<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Upload A New Paper:</h3>

    <form class="form new-paper-form">
      <div class="form-group">
        <label for="paper-name">Paper Name:</label>
        <input class="form-input" type="text" id="paper-name" name="paper-name" />
      </div>
      <div class="form-group">
        <label for="paper-file"> Upload Paper:</label>
        <input class="form-input" type="file" id="paper-file" name="paper-file" />
      </div>
      <div class="form-group">
        <label for="paper-desc">Description:</label>
        <textarea class="form-input" id="paper-desc" name="paper-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Upload:</button>
      </div>
    </form>
  </div>
<div class="col-md-6 paper-list">
  {{#if papers.length}}
  
    <h3>Current papers:</h3>

    {{#each papers as |paper|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/paper/{{paper.id}}">{{paper.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{paper.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  {{/if}}
  </div>
</div>

<script src="./js/profile.js"></script>
