header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #759578;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #759578;
  text-decoration: underline;
}

.dollar-amount {
  color: #759578;
  font-weight: bold;
  margin-left: -5px;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #fefaf6;
}

.search-button {
  background-color: #c77795;
  color: #f8ede0;
  text-align: center;
}

.search-button:hover {
  background-color: #d394ab;
}

.button {
  text-align: center;
  padding: 14px;
}

.card-search-text {
  text-align: center;
  padding: 20px;
}

#search-form {
  text-align: center;
}
p {
  text-align: center;
  padding: 40px;
  background-color: #f8ede0;
}

h5 {
  text-align: center;
  padding: 20px;
}

.paper-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paper-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}